@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}

@mixin social-icon-colors($background, $color, $hover-background: $color, $hover-color: $background) {
	background: $background;
	color: $color;

	&:hover {
		background: $hover-background;
		color: $hover-color;
	}
}
