%background-cover {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

%background-fixed {
	@extend %background-cover;
	background-attachment: fixed;
}

%clearfix {
	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}
