$white: #fff;
$grey: #efefef;
$black: #111;
$primary: #ed155b;
$primaryhover: #ff4783;
$secondary: #fea7c3;
$tertiary: #ffeaee;
$transblack: rgba(0,0,0,.85);
$transpink: rgba(237,22,91,.8);

$mainbg: #333;
$red: #e62423;

$h1size: 4rem;
$h2size: 2.4rem;
$h3size: 2.1rem;
$h4size: 1.8rem;
$h5size: 1.6rem;
$h6size: 1.5rem;

$basefontsize: 1.4rem;
$smallfont: 1.2rem;

