.slick-next,
.slick-prev {
	@include size(42px, 0);
	display: block;
	background: $primary;
	padding: 42px 0 0;
	border-radius: 50%;
	margin: -21px 0 0;
	position: absolute;
	top: 50%;
	z-index: 1001;
	cursor: pointer;
	overflow: hidden;
	transition: background-color .5s ease, color .5s ease;

	&:before {
		margin: -11px 0 0 -9px;
		position: absolute;
		top: 50%;
		left: 50%;
		font-family: FontAwesome;
		font-size: 21px;
		line-height: 1;
		text-rendering: auto;
		color: $white;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	&.slick-disabled {
		cursor: default;
	}
}

.slick-next {
	right: 20px;

	&:before {
		content: "\f061";
	}
}

.slick-prev {
	left: 20px;

	&:before {
		content: "\f060";
	}
}

.container .slick-next {
	right: -62px;
}

.container .slick-prev {
	left: -62px;
}

.slick-dots {
	@include size(100%, 12px);
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 40px;
	left: 0;
	z-index: 1001;
	text-align: center;

	li {
		display: inline-block;
		height: 12px;
		padding: 0;
		margin: 0;

		button {
			background: $grey;
			width: 12px;
			height: 0;
			padding: 10px 0 0;
			border-radius: 50%;
			margin: 0 2px;
			overflow: hidden;
			cursor: pointer;
			transition: background .5s ease, border .5s ease;
			border: solid 1px $white;
			&:hover {
				background: $primary;
			}
		}
	}

	.slick-active {
		button,
		&:hover button {
			background: $primary;
		}
	}
}

.text-slider .slick-dots {
	margin: 40px 0 0;
	position: static;
}

.slick-vertical .slick-slide {
	border: none;
}
