.bg-top {
	background-position: center top;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.bg-cover {
	@extend %background-cover;
}

.spacing-inside {
	padding: 60px 0;
}

.spacing-outside {
	margin: 60px 0;
}

.spacing-top {
	padding: 60px 0 0;  
}

.spacing-bottom {
	padding: 0 0 60px;  
}

.spacing-both {
	@extend .spacing-inside;
	@extend .spacing-outside;
}

.border-top {
	border-top: solid 4px $primary;
}

.narrow-content {
	max-width: 1000px;
	margin: 0 auto;
}

.block-single-column-image img {
	@include size(100%, auto);
}

.block-two-column-text .column-50 {
	@media (max-width: 767px) {
		width: 100%;
	}

	&:first-child {
		@media (max-width: 767px) {
			margin: 0 0 30px;
		}
	}
}

.block-two-column-text-image {
	position: relative;
	.container {
		width: 100%;
		max-width: 100%;
	}
	.column-50 {
		@media (max-width: 767px) {
			width: 100%;
		}

		&:first-child {
			@media (max-width: 767px) {
				margin: 0 0 30px;
			}
		}
	}
}

.two-column-text {
	width: 50%;
	min-height: 450px;
	@media (max-width: 1024px) {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		float: none;
	}
}

.two-column-text-left {
	padding: 80px;
	float: left;
	@media (max-width: 767px) {
		padding: 80px 20px;
	}
}

.two-column-text-right {
	padding: 80px;
	float: right;
	@media (max-width: 767px) {
		padding: 80px 20px;
	}
}

.two-column-image {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	@media (max-width: 1024px) {
		width: 100%;
		padding: 56.25% 0 0;
		position: static;
	}
}

.two-column-image-left {
	left: 0;
	right: 50%;
}

.two-column-image-right {
	left: 50%;
	right: 0;
}

.block-three-column-text .column-33 {
	&:not(:last-child) {
		@media (max-width: 1024px) {
			width: 50%;
			margin: 0 0 30px;
		}

		@media (max-width: 767px) {
			width: 100%;
		}
	}

	&:last-child {
		@media (max-width: 1024px) {
			width: 100%;
		}
	}
}

.dd-list .dd-block:not(:last-child) {
	margin: 0 0 20px;
}

.dd-title {
	padding: 20px 30px;
	position: relative;
	cursor: pointer;
	font-size: 21px;

	.icon {
		display: block;
		width: 20px;
		padding: 24px 0 0;
		margin: -12px 0 0;
		position: absolute;
		top: 50%;
		right: 30px;
		font-family: FontAwesome;
		font-size: 24px;
		line-height: 1;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		transition: .3s all ease;
	}

	.plus {
		opacity: 1;
		transform: rotate(0deg);

		&:before {
			content: "\f067";
			display: block;
			margin: -24px 0 0;
		}
	}

	.minus {
		opacity: 0;
		transform: rotate(-90deg);

		&:before {
			content: "\f068";
			display: block;
			margin: -24px 0 0;
		}
	}
}

.dd-title-inner {
	display: block;
	padding: 0 25px 0 0;
}

.dd-open {
	.plus {
		opacity: 0;
		transform: rotate(90deg);
	}

	.minus {
		opacity: 1;
		transform: rotate(0deg);
	}
}

.dd-text {
	padding: 0 30px 30px;
}

.block-gallery .grid {
	margin: -10px -5px 0;
}

.gallery-item {
	width: 20%;
	padding: 10px 5px 0;
	float: left;

	@media (max-width: 1024px) {
		width: 25%;
	}

	@media (max-width: 767px) {
		width: 50%;
	}
}

.gi-inner {
	display: block;

	img {
		@extend .gi-inner;
	}
}

.block-gallery .slideshow-slide img {
	width: 100%;
}

.text-slides {
	padding: 0 100px;
	@media (max-width: 768px) {
		padding: 0 20px;
	}
}

.block-image-slider img {
	@include size(100%, auto);
}

.block-video-slider {
	.slick-slide {
		background-size: cover;
		position: relative;
	}

	.video-slide-cover-text {
		width: 300px;
		position: absolute;
		top: 50%;
		left: 50%;
		font-size: 22px;
		text-align: center;
		color: $white;
		transform: translate(-50%, -50%);
	}

	.video-slide-play {
		@include size(110px, 0);
		display: inline-block;
		background: #cfcfcf;
		padding: 110px 0 0;
		border-radius: 50%;
		position: relative;
		overflow: hidden;
		opacity: .5;
		cursor: pointer;
		transition: opacity .5s ease;

		&:after {
			content: "";
			border-top: 35px solid transparent;
			border-bottom: 35px solid transparent;
			border-left: 60px solid #272727;
			margin: -35px 0 0 -22px;
			position: absolute;
			top: 50%;
			left: 50%;
		}

		&:hover {
			opacity: 1;
		}
	}
}

.nav-slides .slick-slide {
	cursor: pointer;
}

.block-gallery .carousel-slide img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.block-parallax {
	.parallax-image {
		@extend %background-fixed;
		width: 100%;
		min-height: 400px;
		position: relative;

		@media (max-width: 767px) {
			background-attachment: scroll;
		}
	}

	.parallax-image-push {
		display: none;
		opacity: 0;
		visibility: hidden;
	}

	.parallax-image-text-overlay {
		width: 95%;
		max-width: 750px;
		position: absolute;
		top: 50%;
		left: 50%;
		font-size: 20px;
		text-align: center;
		color: $white;
		transform: translate(-50%, -50%);
	}
}

.block-google-map .acf-map {
	width: 100%;
	height: 400px;
}

.map-directions label {
	display: block;
	margin: 0 0 5px;
}

.map-directions-input {
	overflow: hidden;
}

.map-directions-submit {
	float: right;
}

.block-collapsible {
	.collapsible-title {
		background: $grey;
		padding: 10px;
		margin: 20px 0;
		cursor: pointer;
		font-size: 20px;
	}

	.collapsible-content {
		padding: 20px 0;
	}
}

.block-full-height-image {
	position: relative;
	overflow: hidden;

	.full-height-image {
		@extend %background-cover;
		min-height: 480px;
		max-height: 1000px;
	}

	.full-height-image-text-overlay {
		width: 95%;
		max-width: 750px;
		position: absolute;
		top: 50%;
		left: 50%;
		font-size: 20px;
		text-align: center;
		color: $white;
		transform: translate(-50%, -50%);
	}

	.full-height-next-section {
		display: inline-block;
		width: 70px;
		border: 2px solid $white;
		border-radius: 50%;
		margin: -140px 0 0 -35px;
		position: absolute;
		left: 50%;
		font-size: 55px;
		line-height: 66px;
		text-align: center;
		color: $white;
	}
}

.block-404 {
	text-align: center;
}

.link-panel {
	width: 33.333%;
	float: left;
	position: relative;
	@media (max-width: 768px) {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		float: none;
	}
}

.link-panel img {
	width: 100%;
	vertical-align: bottom;
}

a.link-panel-overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: $transpink;
	color: $white;
	text-align: center;
	transition: background .2s ease-in;
}

a.link-panel-overlay:hover {
	background: $primary;
}

.link-panel-overlay-inner {
	margin-top: 50%;
	width: 100%;
	transform: translateY(-80%);
	display: block;
	font-size: 3rem;
	font-weight: 200;
	@media (max-width: 1024px) {
		font-size: 2rem;
	}
	@media (max-width: 768px) {
		font-size: 3rem;
	}
	@media (max-width: 459px) {
		font-size: 2rem;
	}
}

.link-panel-text {
	width: 100%;
}

.link-panel-icon {
	display: block;
	width: 150px;
	margin: 0 auto 30px;
	@media (max-width: 1100px) {
		width: 100px;
	}
	@media (max-width: 768px) {
		width: 150px;
	}
	@media (max-width: 459px) {
		width: 100px;
	}
}

.clear {
	clear: both;
}

.client-slides {
	margin-bottom: 60px;
}

.client-slide {
	border: solid 1px #b2b2b2;
	max-width: 320px;
	margin: 0 10px;
	transition: border .2s ease-in;
	cursor: pointer;
	position: relative;
	margin-bottom: 10px;
}

.client-slide:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(237, 22, 91, 0);
	border-top-color: #ed165b;
	border-width: 8px;
	margin-left: -8px;
	opacity: 0;
	transition: opacity .2s ease-in;
}

.client-slide:hover {
	border: solid 1px $primary;
}

.client-slide.slick-current {
	border: solid 1px $primary;
	&:after {
		opacity: 1;
	}
}

.client-testimonial {
	max-width: 1200px;
	text-align: center;
	margin: 60px auto 0;
	font-size: 2.8rem;
	line-height: 3.2rem;
	color: $primary;
	font-style: italic;
	.client-testimonial-author {
		font-size: 1.8rem;
		color: $black;
		margin-top: 20px;
		displat: block;
	}
	@media (max-width: 767px) {
		font-size: 2.5rem;
	}
}

.image-slider-nav {
	margin-top: -10px;
}

.image-slider-nav .slick-slide {
	border: solid 1px $grey;
	position: relative;
	margin-top: 10px;
}

.image-slider-nav .slick-current {
	border: solid 1px $primary;
}

.image-slider-nav .slick-current:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(237, 21, 91, 0);
	border-bottom-color: #ed155b;
	border-width: 8px;
	margin-left: -8px;
}



