.comments-area {
	margin: 40px auto 0;
	padding-top: 40px; 
	max-width: 1000px;
	border-top: solid 2px #efefef;
}

.comment-list {
	margin: 0 0 30px;

	.comment {
		margin: 20px 0 0;
	}

	.children {
		padding: 0 0 0 30px;
	}
}

.comment-author {
	margin: 0 0 20px;
	overflow: hidden;
	line-height: 48px;

	img {
		display: block;
		margin: 0 10px 0 0;
		float: left;
		border-radius: 50%;
	}

	cite,
	span {
		line-height: 1.4;
	}
}

.comment-meta {
	float: right;
	font-size: $smallfont;
	color: $black;

	a {
		color: $black;
	}
}

.comment-body {
	margin: 0 0 20px;
}

.comment-reply {
	text-align: right;

	a {
		@extend .btn;
		font-size: $smallfont;
	}
}

.comment-form {
	label {
		display: block;
		margin: 0 0 5px;
	}

	textarea,
	input:not([type="submit"]) {
		display: block;
		width: 100%;
	}
}

.comment-reply-title {
	small  {
		font-size: $smallfont;
	}
}
