.search-form {
	margin: 20px 300px 20px 0;

	@media (max-width: 1024px) {
		margin-right: 0;
	}

	.page-content & {
		margin: 0;
	}

	.sidebar & {
		margin: 0;

		input {
			border: none;
		}
	}

	.btn {
		width: 40px;
		padding: 0;
		float: right;
		font-size: 20px;
		line-height: 40px;

		&:hover {
			+ .input-cont {
				input {
					border-color: $black;
				}
			}
		}
	}

	input {
		height: 40px;
		padding: 0 10px;
		border: 2px solid #444;
		border-right: none;
		font-size: 18px;
		line-height: 40px;
		transition: border .5s ease;
	}
}

.engage-form .engage-form-row {
	padding: 0;
	margin-bottom: 20px;
}

.engage-form .engage-form-submit {
	background: $primary;
	font-weight: 200;
	border-radius: 7px;
}

.engage-form .engage-form-submit:hover {
	background: $transpink;
}

.engage-btn-text {
	font-weight: 200;
}


.engage-form .engage-form-input {
	border: none;
	height: 40px;
	box-shadow: none;
}

.engage-form-2 {
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
}

.engage-form-2 label {
	color: $white;
	font-size: 1.8rem;
}

.engage-form .engage-form-required-field {
	color: $white;
}
