.pagination {
	margin: 15px 0 0;
	float: right;
	text-align: center;

	a,
	span,
	button {
		display: inline-block;
		background: $grey;
		padding: 0;
		margin: 0 2px 5px;
		line-height: 23px;
		color: $black;

		&:hover {
			background: #efefef;
		}
	}

	.page-numbers {
		width: 34px;
	}

	.current {
		background: #efefef;
	}

	.dots {
		background: none;
		font-size: 20px;
	}

	.next,
	.prev {
		width: auto;
		padding: 0 5px;
	}
}

.blog-posts .pagination {
	float: none;

	a,
	button {
		padding: 0 20px 0 15px;
		margin: 0 15px;
		line-height: 50px;
	}

	.fa {
		margin: -4px 10px 0 0;
		vertical-align: middle;
		font-size: 30px;
	}
}

.js .blog-posts .pagination a {
	display: none;
}
