.posts-filter-links {
	padding: 10px 0;

	span {
		cursor: pointer;
	}
}

.blog-posts {
	.grid {
		margin: 0 -10px;
	}

	.grid-sizer {
		width: 33.333333%;

		@media (max-width: 767px) {
			width: 50%;
		}

		@media (max-width: 479px) {
			width: 100%;
		}
	}
}

.post-item {
	width: 33.333333%;
	padding: 0 10px;
	margin: 0 0 15px;
	float: left;

	@media (max-width: 767px) {
		width: 50%;
	}

	@media (max-width: 479px) {
		width: 100%;
	}
}

.post-item-inner {
	background: #eaeaea;
}

.post-item-image {
	display: block;
	padding: 0 0 56.25%;
	position: relative;
	overflow: hidden;

	span {
		@include size(100%);
		position: absolute;
		top: 0;
		left: 0;
		transition: transform 1s ease;
	}

	&:hover {
		span {
			transform: scale(1.2);
		}
	}
}

.post-item-text {
	padding: 15px;
}

.post-item-title {
	display: inline-block;
	margin: 0 0 10px;
	font-size: 18px;
}

.post-item-info {
	display: block;
	margin: 0 0 10px;
	font-size: $smallfont;

	.search-results & {
		margin: 10px 0 0;
	}
}

.article-top {
	margin: 0 0 20px;
	overflow: hidden;
}

.article-info {
	overflow: hidden;

	h1 {
		margin: 0 0 15px;
	}
}

.article-author {
	float: right;
	text-align: center;

	img {
		border-radius: 50%;
	}

	span {
		display: block;
		margin: 5px 0 0;
		font-size: $smallfont;
	}
}

.article-page {
	max-width: 1000px;
	margin: 0 auto;
}

.article-date {
	display: block;
	font-size: $smallfont;
}

h2.article-title {
	font-size: $h1size;
	margin: 10px 0 5px;
}

.article-info {
	position: relative;
}

.article-title:after {
    width: 150px;
    height: 6px;
    background: #ed155b;
    margin: 30px 0 50px;
    content: "";
    display: block;
}