.social-links {
	padding: 40px 0;
	text-align: center;
}

.social-link {
	@include size(40px);
	display: inline-block;
	border-radius: 50%;
	margin: 0 0 10px 10px;
	vertical-align: top;
	font-size: 25px;
	line-height: 40px;
	color: $white;
}

.facebook-link {
	@include social-icon-colors(#efefef, #415d9a);
}

.twitter-link {
	@include social-icon-colors(#efefef, #15b0e0);
}

.instagram-link {
	@include social-icon-colors(#efefef, #2f5e86);
}

.youtube-link {
	@include social-icon-colors(#efefef, #c41e19);
}

.googleplus-link {
	@include social-icon-colors(#efefef, #dc4c38);
}

.snapchat-link {
	@include social-icon-colors(#efefef, #fffb00);
}

.flickr-link {
	@include social-icon-colors(#efefef, #0c62dd);
}

.linkedin-link {
	@include social-icon-colors(#efefef, #1981b9);
}

.pinterest-link {
	@include social-icon-colors(#efefef, #ac181f);
}
