.white {
	background: #111;
	color: #fff;
}

.grey {
	color: #ddd;
}

.black {
	color: #111;
}

.primary {
	color: #0074d9;
}

.secondary {
	color: #7f675b;
}

.tertiary {
	color: #ffeaee;
}

.block-title {
	font-size: 4rem;
}

.block-title:after {
	width: 100px;
	height: 10px;
	background: #ed155b;
	margin: 10px auto;
}

.large-font {
	font-size: 3rem;
}