.author-image {
	margin: 0 20px 0 0;
	float: left;

	@media (max-width: 479px) {
		margin: 0 0 20px;
		float: none;
		text-align: center;
	}
}

.author-content {
	overflow: hidden;
}

.author-title {
	margin: 0 0 20px;

	@media (max-width: 479px) {
		text-align: center;
	}
}

.author-name {
	font-size: $h3size;
}
