.contact-block {
	background: $primary;
}

.contact-image {
	min-height: 529px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	@media (max-width: 1024px) {
			display: none;
		}

}

.contact-block .column-50 {
	padding: 0;
	position: relative;
	padding-bottom: 529px;
	@media (max-width: 1024px) {
			float: none;
			width: 100%;
			padding-bottom: 0;
		}

}

.contact-block .column-50:last-child {
	padding: 60px 40px;
}

.contact-content {
	padding: 60px 15px;
	width: 100%;
	display: inline-block;
	box-sizing: border-box;
}

.contact-content p {
	padding: 0 15px;
}

.contact-block .contact-form {
	margin: 0 auto;
}

.contact-block .engage-form .engage-form-submit {
	background: $white;
	color: $primary;
}

.contact-block .engage-form .engage-field-validation {
	color: $black;
	background: #ffb6cd;
	&:after {
		border-bottom-color: #ffb6cd;
	}
}