.external-game {
	display: flex;
	align-content: stretch;
	&:nth-child(odd) {
		.external-game__right {
			background: $grey;
		}
	}
	&:nth-child(even) {
		.external-game__left {
			background: $grey;
			@media (max-width: 1024px) {
				background: $white;
			}
		}
	}
	h3 {
		font-weight: 600;
		margin-top: 30px;
	}
	@media (max-width: 1024px) {
		flex-direction: column;
	}
}

.external-game__left {
	min-width: 33.333%;
	padding: 60px;
	@media (max-width: 1024px) {
		min-width: 100%;
		background: $grey;
		text-align: center;
	}
	@media (max-width: 480px) {
		padding: 60px 20px;	
	}
}

.external-game__right {
	min-width: 66.666%;
	padding: 60px;
	.block-title:after {
		margin: 30px 0 50px;
		@media (max-width: 1024px) {
			margin: 30px auto 50px;
		}
	}
	@media (max-width: 1024px) {
		min-width: 100%;
		padding: 0 60px 60px;
		background: $white;
		text-align: center;
	}
	@media (max-width: 480px) {
		padding: 0 20px 60px;	
	}
}

.external-game__logo {
	margin: 0 0 30px;
	max-width: 500px;
	@media (max-width: 1024px) {
		margin: 0 auto 30px;
	}
}

.external-game__publisher {
	margin: 30px 0;
	width: 50%;
	max-width: 250px;
	@media (max-width: 1024px) {
		margin: 30px auto 0;
	}
}

.external-game__review {
	font-style: italic;
}

.external-game__author {
	font-weight: 600;
	margin-bottom: 10px;
}