.header-image {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.page-template-page-game .header-image:after {
	display: none;
}

.header-image img {
	vertical-align: bottom;
	width: 100%;
}


.store-links-container {
	width: 100%;
	background: $transblack;
	display: block;
	height: 80px;
	position: absolute;
	bottom: 0;
	@media (max-width: 768px) {
		height: 60px;
	}
}

.store-links-container .hero-store-links {
	bottom: 15px;
}

.game-logo-padding {
	top: 33%;
	
}

.page-header .slide-game-logo {
	@media (max-width: 1024px) {
		top: 25%;
	}	
	@media (max-width: 768px) {
		top: 35%;
	}	
}