.block-hero-slider {
	width: 100%;
	position: relative;
	@media (max-width: 1024px) {
		padding-top: 86px;
	}
}

.slick-slider {
	opacity: .99;
}

.hero-slide img {
	width: 100%;
}

.hero-slide-container {
	position: relative;
}

.slide-game-logo {
	position: absolute;
	left: 50%;
	top: 20%;
	margin-left: -250px;
	max-width: 500px;
	@media (max-width: 1024px) {
		max-width: 350px;
		margin-left: -175px;
		top: 5%;
	}
	@media (max-width: 767px) {
		max-width: 260px;
		margin-left: -130px;
		top: 5%;
	}
}

.hero-store-links {
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	bottom: 30px;
	width: 100%;
	text-align: center;
	@media (max-width: 767px) {
		bottom: 10px;
	}
}

a.hero-store-link {
	width: 152px;
	display: inline-block;
	margin: 0 5px;
	transition: all .2s ease-in;
	border-radius: 5px;
	@media (max-width: 767px) {
		width: 100px;

	}
}

/*.hero-text-container {
	position: absolute;
	left: 0;
	width: 100%;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,.3);
}*/

.hero-text {
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 50%;
	max-width: 1000px;
	transform: translateX(-50%) ;
	color: $white;
	text-shadow: 2px 2px 2px rgba(0,0,0,.8);
	font-size: 6rem;
	line-height: 6rem;
	font-weight: 500;
}

.post-grid {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	@media (max-width: 950px) {
		display: block;
	}
}

.post-grid__item--thumbnail img {
	max-width: 500px;
	padding-right: 30px;
	@media (max-width: 950px) {
		width: 100%;
		max-width: 100%;
		margin: 0 0 30px;
		padding: 0;
	}
}

.home-post-title {
	font-size: 3rem;
	color: $primary;
	margin: 0 0 20px;
	display: block;
}

.home-post {
	padding: 50px 0;
	@media (max-width: 1024px) {

	}
}

.post-grid__item--info {
	display: block;
	@media (max-width: 1024px) {

	}
}

.latest-post-excerpt {
	margin-bottom: 10px;
}

img {
	vertical-align: bottom;
}