.page-header-default {
	position: relative;
	max-height: 250px;
	overflow: hidden;
	text-align: center;
	.header-image  {
		> img {
		min-width: 1000px;
		}
		@media (max-width: 1024px) {
			min-height: 250px;
		}
	}
}

.page-header {
	@media (max-width: 1200px) {

	}
}

.game-header-image {
	min-width: 2000px;
	@media (max-width: 1024px) {
		min-width: 1400px;
	}
	@media (max-width: 768px) {
		min-width: 1000px;
	}
}

.header-image {
	position: relative; 
	
}

.header-image:after {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		display: block;
		content: "";
		background: rgba(0,0,0,.3);
	}

.header-title {
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
	color: $white;
	size: $h1size;
	display: inline-block;
	opacity: .99;
	width: 100%;
	@media (max-width: 1024px) {
		h1 {
			font-size: 3.5rem;
		}
	}

}

a.header-title {
	color: $white;
}

.team-link {
	position: absolute;
	right: 50px;
	bottom: 130px;
	font-size: 1.4rem;
	color: $white;
}

.team-block .two-column-text {
	width: 70% !important;
	padding: 40px;
	@media (max-width: 1250px) {
		padding: 60px 20px;
	}
	@media (max-width: 1024px) {
		width: 100% !important;
		float: none;
		text-align: center;
	}
	&:nth-child(odd) {
		padding-left: 30%;
	}
}

.team-block .two-column-image {
	width: 30% !important;
	@media (max-width: 1024px) {
		width: 100% !important;
		max-width: 600px !important;
		margin: 30px auto 0;
		float: none;
		min-height: 400px;
	}
	@media (max-width: 600px) {
		margin: 0;
	}
}


.team-block .block-two-column-text-image:nth-child(even) .two-column-text {
	margin-left: 30%;
	background: $white;
	padding: 40px;
	@media (max-width: 1024px) {
		margin: 0;
	}
}

.team-block .block-two-column-text-image:nth-child(even) .container {
	background: $white;
}

.team-block .block-two-column-text-image:nth-child(odd) .two-column-image {
	left: 70%;
	@media (max-width: 600px) {
		left: 0;
	}
}


.team-name {
	font-size: $h1size;
	margin-bottom: 10px;
	line-height: 4.5rem;
}

.team-job {
	font-size: $h5size;
}

.team-job:after {
	content: "";
	width: 150px;
	height: 4px;
	background: $primary;
	display: block;
	margin: 10px 0 40px;
	@media (max-width: 1024px) {
		margin: 10px auto 40px;
		}
}

.team-details {
	font-size: 1.6rem;
}

.web-team-details h3,
.team-details h3 {
	font-weight: 600;
}

.top-5-games {
	width: 30%;
	float: left;
	display: inline-block;
	padding-right: 30px;
	@media (max-width: 1024px) {
		width: 100%;
		float: none;
		padding: 0;
	}
}

.team-game {
	display: block;
	margin:0 0 5px;
}

.team-text {
	margin-left: 30%;
	@media (max-width: 1024px) {
		margin: 20px 0 0;
		text-align: center;
	}
}