.bg-white {
	background: $white;
}

.bg-grey {
	background: $grey;
}

.bg-black {
	background: $black;
}

.bg-primary {
	background: $primary;
}

.bg-secondary {
	background: $secondary;
}

.bg-tertiary {
	background: $tertiary;
}

.white {
	color: $white;
}

.grey {
	color: $grey;
}

.black {
	color: $black;
}

.primary {
	color: $primary;
}

.secondary {
	color: $secondary;
}

.tertiary {
	color: $tertiary;
}
