html {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-size: 10px;
}

* {
	box-sizing: inherit;

	&:before,
	&:after {
		@extend *;
	}
}

body {
	background: $mainbg;
	min-width: 320px;
	font-family: 'Raleway', Helvetica, sans-serif;
	font-size: 1.8rem;
	line-height: 2.6rem;
	color: $black;
}

.page-slide-container {
	overflow: hidden;
}

.page-slide {
	position: relative;
	left: 0;
	transition: left .5s ease;

	&[data-menu-state="open"] {
		left: 375px;

		@media (max-width: 479px) {
			left: 78.28810020876827%;
		}
	}
}

main {
	background: $white;
}

.container {
	@extend %clearfix;
	width: 95%;
	max-width: 1400px;
	margin: 0 auto;

	&.half {
		width: 50%;
	}
}

a,
span,
button,
input[type="submit"] {
	transition: background .5s ease, border .5s ease, color .5s ease;
}

a span {
	transition: none;
}

input,
textarea,
select,
button {
	border-radius: 0;
	resize: none;
	outline: none;
	font-family: Arial, sans-serif;
	font-size: $basefontsize;
}

input[type="submit"],
button {
	border: none;
	cursor: pointer;
}

:focus {
	outline: none;
}

button::-moz-focus-inner {
	border: 0;
}

.input-cont {
	overflow: hidden;
}

.text-input {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;

	&.alignright {
		margin: 0 0 10px 10px;
		float: right;
	}

	&.alignleft {
		margin: 0 10px 10px 0;
		float: left;
	}

	&.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.btn {
	display: inline-block;
	background: #444;
	padding: 5px 10px;
	cursor: pointer;
	font-size: 16px;
	text-align: center;
	color: $white;
}

.btn:hover {
	background: $black;
	color: $white;
}

.icon {
	@extend %background-cover;
	display: inline-block;
	height: 0;
	overflow: hidden;
}

.cover {
	@extend %background-cover;
}

.dbl {
	display: table;
	width: 100%;
}

.dblr {
	display: table-row;
}

.dblc {
	display: table-cell;
}

.list-reset {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: inherit;

	ul {
		@extend .list-reset;
	}

	li {
		padding: 0;
		margin: 0;
	}
}

.grid {
	@extend %clearfix;
	margin: 0 -15px;
}

.column-25,
.column-33,
.column-50,
.column-66,
.column-75 {
	padding: 0 15px;
	float: left;
}

.column-25 {
	width: 25%;
}

.column-33 {
	width: 33.333333%;
}

.column-50 {
	width: 50%;
}

.column-66 {
	width: 66.666666%;
}

.column-75 {
	width: 75%;
}

.video-container {
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
	overflow: hidden;
	z-index: 0;

	iframe,
	object,
	embed {
		@include size(100%);
		position: absolute;
		top: 0;
		left: 0;
	}
}

.aligncenter,
.wp-caption {
	text-align: center;
}

.alignright {
	text-align: right;
}

.alignleft {
	text-align: left;
}

.wp-caption-text {
	margin: 5px 0 0;

	&:last-child {
		@extend .wp-caption-text;
	}
}

.page-content {
	overflow: hidden;
}

.sitemap ul {
	list-style: none;
	margin: 20px 0;
	padding: 0;
	li {
		margin: 5px 0;
		padding-left: 0;
	}
}