h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 .8em;
	line-height: 1;
	font-weight: 400;
}

h1 {
	font-size: $h1size;
	@media (max-width: 768px) {
		font-size: 2rem;
	}
}

h2 {
	font-size: $h2size;
}

h3 {
	font-size: $h3size;
}

h4 {
	font-size: $h4size;
}

h5 {
	font-size: $h5size;
}

h6 {
	font-size: $h6size;
}

a {
	text-decoration: none;
	color: $primary;

	&:hover {
		color: lighten($primary, 33%);
	}
}

p {
	margin: 0 0 20px;
	size: $h4size;
	&:last-child {
		margin: 0;
	}
}

.large-font {
	font-size: 3rem;
	line-spacing: 3.8rem;
	@media (max-width: 768px) {
			font-size: 2rem;
		}
}

.block-title {
	font-size: $h1size;
	line-height: 4rem;
}

.block-title:after {
	width: 150px;
	height: 6px;
	background: $primary;
	margin: 30px auto 50px;
	content: "";
	display: block;
}

