.cookie-bar {
	display: none;
	background: $primary;
	width: 100%;
	padding: 10px 2.5%;
	position: fixed;
	bottom: 0;
	z-index: 999999;
	font-size: $basefontsize;
	text-align: center;
	color: $white;
}

.cookie-bar-close {
	background: $red;
	border-radius: 5px;
	margin: 0 0 0 20px;
	font-size: $basefontsize;
	text-align: center;
	color: $white;

	&:hover {
		background: darken($red, 10%);
	}
}
