footer {
	padding: 20px 20px 40px;
	text-align: center;
	color: $white;
}

.footer-nav-bar ul {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;

	li  {
		display: inline-block;
		font-size: 1.2rem;
		text-transform: uppercase;
		padding: 0 10px;
		a {
			color: $grey;

		}

		.sub-menu {
			padding: 0 0 0 10px;
		}
	}
}

p.footer-copy {
	font-size: 1.2rem;
}

.footer-logo .custom-logo-link {
	display: block;
	margin: 10px auto 20px;
	max-width: 60px;
	float: none;
}

.footer-nav-bar {
	width: 100%;
	display: block;
}

.footer-copy a {
	color: $white;
}

