header {
	background: $transblack;
	padding: 10px 0;
	text-align: center;
	position: fixed;
	z-index: 1;
	width: 100%;
}

.logo,
.custom-logo-link {
	display: block;
	max-width: 80px;
	margin: 0 auto;
	float: left;
	position: relative;
	z-index: 1020;
	@media (max-width: 1024px) {
		float: right;
		max-width: 75px;
	}
	img {
		display: block;
	}
}

.header-fixed {
	width: 100%;
	position: fixed;
	top: 10px;
	z-index: 1002;
}

.header-nav {
	width: 80%;
	z-index: 1002;
	padding-top: 16px;
	float: right;
	text-align: right;
	@media (max-width: 1024px) {
			float: left;
			width: auto;
		}
	&.fix-nav {
		width: 80%;
		max-width: 100%;
		margin: 0;
		position: fixed;
		top: 5px;
		right: 0;
		z-index: 1002;

		ul {
			max-width: 940px;
			margin: 0 auto;
		}
	}

	nav {
		@media (max-width: 1024px) {
			display: none;
		}
	}

	a {
		display: inline-block;
		padding: 8px 28px;
		text-decoration: none;
		color: $white;
		font-size: $basefontsize;
		font-weight: 600;
		text-transform: uppercase;
	}

	ul {
		text-align: right;
	}

	li {
		display: inline-block;
		padding: 0;
		margin: 0;
		position: relative;
		&:hover {

			> a {
				color: $primary;
				
			}

			> .sub-menu {
				display: block;
			}
		}
		&.menu-item-165 {
			background: $primary;
			transition: background .2s ease-in;
			border-radius: 7px;
			&:hover {
				background: $primaryhover;

				> a {
					color: $white;
				}
			}
			&.current-menu-item {
			background: $primaryhover;
				> a {
					color: $white;
					}
				&:hover {
				background: $primaryhover;
					> a {
						color: $white;
					}
				}
			}
		}
	}

	.menu {
		padding: 0;
		margin: 0;
		list-style: none;

		> li > .sub-menu {
			min-width: 235px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.current-menu-item > a,
	.current-menu-item > a:hover,
	.current-menu-item:hover > a,
	.current-menu-parent > a,
	.current-menu-parent > a:hover,
	.current-menu-parent:hover > a,
	.current-menu-ancestor > a,
	.current-menu-ancestor > a:hover,
	.current-menu-ancestor:hover > a {
		color: $primary;	
	}

	.sub-menu {
		display: none;
		padding: 0;
		position: absolute;
		z-index: 1002;
		font-size: $basefontsize;
		text-align: center;
		background: $black;
		.current-menu-item > a:hover {
			border-bottom: none;
		}
		li,
		a {
			display: block;
			border-bottom: none;
			&:hover {
				color: $primary;
			}
		}

		.sub-menu {
			min-width: 200px;
			top: 0;
			left: 100%;
		}
	}
}

.mm-toggle {
	display: none;
	padding: 0 0 0 50px;
	margin: 5px 0;
	float: left;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: $white;

	@media (max-width: 1024px) {
		display: block;
	}
}

.mmt-bar {
	@include size(35px, 5px);
	background: $white;
	border-radius: 2px;
	position: absolute;
	left: 0;
	backface-visibility: hidden;
	transition: .2s;
}

.mmt-top {
	top: 0;
}

.mmt-middle {
	top: 12px;
}

.mmt-bottom {
	top: 24px;
}

[data-menu-state="open"] .mmt-top {
	top: 13px;
	transform: rotate(50deg);
	transition: .2s .3s;
}

[data-menu-state="open"] .mmt-middle {
	opacity: 0;
}

[data-menu-state="open"] .mmt-bottom {
	top: 13px;
	transform: rotate(310deg);
	transition: .2s .3s;
}
