.mbl-menu {
	background: #444;
	width: 375px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -375px;
	z-index: 1002;
	overflow-y: auto;

	@media (max-width: 479px) {
		width: 78.28810020876827%;
		left: -78.28810020876827%;
	}

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	.menu-item {
		font-size: 24px;
		text-transform: uppercase;

		a {
			display: block;
			padding: 15px 0;
			text-decoration: none;
			color: $white;

			&:hover {
				color: $white;
			}
		}
	}

	.sub-menu {
		padding: 0 0 0 40px;
		a {
		font-size: 2rem;
		}
	}
}

[data-menu-state="open"] .mbl-menu {
	box-shadow: 2px 0 11px 0 rgba(0, 0, 0, .8);
}


.mm-inner {
	width: 375px;
	padding: 0 20px;
	position: fixed;
	top: 30px;
	bottom: 30px;
	left: -375px;
	overflow-x: hidden;
	overflow-y: auto;
	transition: transform .5s ease;

	@media (max-width: 479px) {
		width: 78.28810020876827%;
		left: -78.28810020876827%;
	}
}

&[data-menu-state="open"] .mm-inner {
	transform: translateX(375px);

	@media (max-width: 479px) {
		transform: translateX(100%);
	}
}

