.sidebar {
	width: 270px;
	margin: 0 0 0 30px;
	float: right;
	position: relative;
	color: $white;

	@media (max-width: 1024px) {
		width: auto;
		margin: 0 0 30px;
		float: none;
	}
}

.sidebar-toggle {
	display: none;
	background: #333;
	padding: 15px 20px;
	position: relative;
	cursor: pointer;
	font-size: 20px;

	@media (max-width: 1024px) {
		display: block;
	}

	&:after {
		content: "\f078";
		position: absolute;
		top: 50%;
		right: 20px;
		font-family: FontAwesome;
		font-size: 24px;
		line-height: 1;
		text-rendering: auto;
		color: $white;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		transform: translateY(-50%);
	}
}

.sidebar[data-mbl-state="open"] .sidebar-toggle:after {
	content: "\f077";
}

.sidebar-content {
	background: #333;
	width: 270px;
	padding: 20px;

	@media (max-width: 1024px) {
		display: none;
		width: 100%;
		padding-top: 0;
	}

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	li:not(:last-child) {
		margin: 0 0 5px;
	}

	a {
		color: #eaeaea;
	}

	.widget:not(:last-child) {
		margin: 0 0 20px;
	}

	.post-date {
		display: block;
		font-size: 12px;
	}
}

.sidebar-title {
	display: block;
	margin: 0 0 5px;
	font-size: 16px;
}
